.content {
	max-width: 500px;
	margin: auto;
	background: auto;
	padding: 10px;
  }

  .cellContainer {
	width: 25%;
	float: left;
  }

  .flex-container {
    display: flex;
    border: 2px rgba(200, 255, 0, 0) solid;
	overflow: hidden;
	justify-content: center;
}

.flex-container > * {
    width: 50%;
	margin: 10px;
    border: 2px rgba(255, 0, 0, 0) solid;
	overflow: hidden;
	
}

*   /*  the use of * means all and will affect the whole page*/
{
	margin: 0; /* remove the margin from the whole page*/
}

/*Image reziers*/ 
.IMGcenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 95%;
	padding:0.3rem;
  }

.logo{
	width: 9rem;
	height: auto;
}

.AU-img-A{
height: auto;
width: 22rem;
display: block;
margin-left: auto;
margin-right: auto;
}

.AU-img-B{
height: auto;
width: 400rem;
display: block;
margin-left: auto;
margin-right: auto;
}

.AU-img-C{
	height: auto;
	width: 20rem;
	display: block;
	margin-left: auto;
	margin-right: auto;
	float: left;
	}

/*padding*/ 
.pad-TB{
	padding-top: 0.3rem;
	padding-bottom: 0.3rem;	
}
.pad02{
	padding-top: 0.2rem;
}

.pad01{
	padding-top: 0.5rem;
}
.pad1 /*  this will contain the padding setting for the page*/
/*  . creates a class which can be attached to any item */
{
	padding:1rem;
}
.pad2 /*  this will contain the padding setting for the page*/
/*  . creates a class which can be attached to any item */
{
	padding:1.5rem; /* rem allows the page to adjust */
}
.pad3 /*  this will contain the padding setting for the page*/
/*  . creates a class which can be attached to any item */
{
	padding:2rem;
}
.width100/*this will contain the width setting for the page for full page*/
{
	width:100%; 
}
.width95/*this will contain the width setting for  80% of the page*/
{
	width:95%; 
}
.width80/*this will contain the width setting for  80% of the page*/
{
	width:95%; 
}
.mauto /*this will contain the margin setting for the page*/
{
	margin:0 auto;
}
.bgcol1
{
	background-color: rgb(219, 219, 219)
}
.bgcol2
{
	background-color: rgb(103, 182, 255);
	border-top: 2px solid rgb(48, 151, 247);
}
.bgcol3 /* for the sections nav*/
{
	background-color: rgb(103, 182, 255);
	border-top: 2px solid rgb(48, 151, 247);
	border-bottom: 2px solid rgb(48, 151, 247);
}



.Dflex  /* this will store the flex features */
 /* D = display flex is the feature */
{
	display:flex; 
}
.Jconc /* Justification to center  */
{
	justify-content:center;
}
.JconSE /* Justification to spaced evenly  */
{
	justify-content:space-evenly;
}
.frow /* set the flex to row  */
{
	flex-direction:row;
}
.fcol /* set the flex to column  */
{
	flex-direction:column;
}


.navlinks /* set the styles for any link text  */
{
	text-decoration:none;
	color:#000000;
}

.navlinks:hover /* sets the hover effect for each item in the navigation bar */
{
	/* creates a gradient background from white to black */
	background:linear-gradient(to right,rgb(250, 194, 11), rgba(193,214,198,0));
	
}

.height1 /*this will control the height being set to 100%  */
{
	height:50vh;   /*vh = view height which will cover only the available space */
}

.navstick /* This will set the navigation bar to stick to the top of the page  */
{
	position:sticky; /*sets the sticky bar */
	top:0px; /* stick to the top of the page */
	z-index:1; /* This is the z direction of the webpage (the direction towards the user)*/
	
}

.ANCoffset /*the offset for our page anchor scroll */
{
	position:relative; /*allow items to move around the page relative to one another */
	top: -50px; /*make the nav bar 50px above the anchor */
	visibility:hidden; /*make it invisible */
}




/* TEXT FORMATING CLASSES */
.Title1{
	font-family: Tahoma;
	text-align: center;
}
.Heading1{
	font-family: Tahoma;
	font-size: 26pt;
}
.Heading1-5{
	font-family: Tahoma;
	}
.Body1{
	font-family: Tahoma;
}

.Body2{
	font-family: Tahoma;
	color: white;
	text-align:center;
}
.Body3{
	font-family: Tahoma;
	font-size: 21px ;
}
.Arial{font-family: Tahoma;}


 /*Profiles*/
 .Profiles { 
	margin-top: 10%;
}
.Profiles h4{
	font-size: 120%;
	margin: 2%;
}
.Profiles h5{
	font-size: 100%;
	margin :1%;
}
.head{
	text-align: center
}

.Profiles-row{
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	
	
}
.profile{
	width: 20%;
	background-color: rgb(103, 182, 255);
	border: 2px solid rgb(48, 151, 247);
	padding: 1%;
	margin: 1%
}
.Jobs{
	width: 40%;
	background-color: rgb(103, 182, 255);
	border: 2px solid rgb(48, 151, 247);
	padding: 1%;
	margin: 1%
}
.profile-img{
	width: 100%;
}

/*Courses*/
.Courses{
margin-top: 10%;
}
.Courses h1{
margin-left :10%;
}
.Courses p{
margin-left: 10%;
}
.Courses-top h2{
 margin-left: 10%;
}   
.Courses-bottom{
position: absolute;
left: 50%;
transform: translate(-50%);
width: 80%;
margin-top: 3%;
padding-top: 1%;
background-color: rgb(103, 182, 255);
border: 2px solid rgb(48, 151, 247);
}  
.Courses-bottom h2{
padding-left: 7%;
}
.Courses-top img{
float: right;
width: 500px;
margin-right: 10%;
padding-top: 3%;
}

.Courses-links{
display: flex;
flex-direction: row;
justify-content: center;
width: 80%;
margin-left: 10%;
}
.Courses-links img{
width: 90%;
}

/* idk it looks cool, why are you even looking in here?? */

.Tag{
background-color: #245DDA;
color: #a8d6eb;
padding: 1px 2px;
}

.cursor{
	cursor: url(./Assets/Cursur.png), auto;	
  }

  body {
	cursor: url(./Assets/Cursur.png), url(./Assets/Cursur.png), 
			url(./Assets/Cursur.png), auto;
  }



.Halfcol-blu{
	background: linear-gradient(90deg, #3a54ff80 50%, #fff 50%);}
/*////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////*/    
/*//////This section is for media Queries ////////////*/   
/*//////They should always be at the bottom///////////*/    
/*////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////*/

/*This section allows you to test the users device and */ 
/*Adjust your site appropriately i.e for desktop or mobile */    

/**/

@media  all and (max-width:900px)
/*@media declares a media query  all = all devices, screen = screen size*/
/*we then declare break points which are the activation sizes for the query i.e scren size*/ 
{/*If it is mobile */
	.bgcol1
	{
		background-color: rgb(219, 219, 219);/*set the colour to a horrible purple */
	}
	.width80/*If it is mobile make the size 100% of the page*/
	{
		width:100%; 
	}
	.mobnav
	{
		flex-direction:column;
		text-align:center;
		background-color: rgb(103, 182, 255);
		
	}

	.profile-mbl{
		width: 90%;
		background-color: rgb(103, 182, 255);
		border: 2px solid rgb(48, 151, 247);
		padding: 1%;
		margin: 1%
	}	

	.profile-img-mbl
	{
	width: 50%;
	}

	.flex-container > * {
		width: 80%;
		margin: 1px;
		border: 2px rgba(255, 0, 0, 0) solid;
		overflow: hidden;
	}
	
}


@media  all and (max-width:700px)
/*@media declares a media query  all = all devices, screen = screen size*/
/*we then declare break points which are the activation sizes for the query i.e scren size*/ 
{/*If it is mobile */
	.bgcol1
	{
		background-color: rgb(207, 207, 207);/*set the colour to a horrible purple */
	}
	.width80/*If it is mobile make the size 100% of the page*/
	{
		width:100%; 
	}
	.mobnav
	{
		flex-direction:column;
		text-align:center;
		background-color: rgb(103, 182, 255);
		
	}

	.profile-mbl{
		width: 90%;
		background-color: rgb(103, 182, 255);
		border: 2px solid rgb(48, 151, 247);
		padding: 1%;
		margin: 1%
	}	

	.profile-img-mbl
	{
	width: 100%;
	}

	.flex-container {
	    display: flex;
    border: 2px rgba(200, 255, 0, 0) solid;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
			}
	
	.flex-container > * {
		width: 80%;
		margin: 10px;
		border: 2px rgba(255, 0, 0, 0) solid;
		overflow: hidden;
	}
	
}

.Hide{
	visibility: hidden;
}

