.Window-A{
    border: 2px solid #245DDA;
    /*border-top: 25px solid #245DDA;*/
    background-color: white;
    
}

.Window-A-Ntop{
    border-left:2px solid #245DDA;
    border-right: 2px solid #245DDA;
    border-bottom: 2px solid #245DDA;
    /*border-top: 25px solid #245DDA;*/
    background-color: white;
    
}

.Window-A-Nbottom{
    border-left:2px solid #245DDA;
    border-right: 2px solid #245DDA;
    border-top: 2px solid #245DDA;
    /*border-top: 25px solid #245DDA;*/
    background-color: white;
    
}

.Window-B{
    font-weight: 400;
    font-size: 1rem;
    /*box-shadow: 1px 1px #cec3c1,2px 2px #272727;*/
    background-color: #245DDA;
    color: #ffffff;
    text-align: center;
    /*padding: 2px 4px 1px 1px;*/
    /*margin: 0 4px 0 0;*/
    text-align: Left;
    transform: translateY(-5px);
    border: 6px solid #245DDA;
    border-top-right-radius: 0.2rem;
    border-top-left-radius: 0.2rem;
    font-family: Tahoma;
    font-size: 16px;
    }


    .strip{
      font-weight: 400;
      font-size: 1rem;
      box-shadow: 1px 1px #cec3c1,2px 2px #272727;
      background-color: #245DDA;
      color: #ffffff;
      text-shadow: none;
      text-align: center;
      padding: 2px 4px 1px 1px;
      margin: 0 4px 0 0;
      text-align: right;
      transform: translateY(-6px);
      }


      
.Window-TXT{
    padding: 0.3rem;
    font-family: Trebuchet;
    font-size: 16px;
}

.Window-TXT-B{
    padding: 0.3rem;
    font-family: Tahoma;
    font-size: 16px;
    color: white;
}



.MidOfDiv{
    display: block;
    margin-left: auto;
    margin-right: auto;
    }




/*gay colour*/

#shadowBox {
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.2);
    /* Black w/opacity/see-through */
    border: 3px solid;
  }
  
  .rainbow {
    text-align: center;
    font-family: Tahoma;
    letter-spacing: 1px;
    animation: colorRotate 6s linear 0s infinite;
  }
  
  @keyframes colorRotate {
    from {
      color: #6666ff;
    }
    10% {
      color: #0099ff;
    }
    50% {
      color: #00ff00;
    }
    75% {
      color: #ff3399;
    }
    100% {
      color: #6666ff;
    }
  }